.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #3d0a3e;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #b7fde6;
}

p {
  font-size: 2rem;
  color: #b7fde6;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}


#start
{
  display: flex;
  margin: 24px auto;
  color:  #0d241d;
  font-size: 1.5rem;
  border-radius: 15px;
  cursor: pointer;
  border-color: #0d241d;
  font-family: 'Indie Flower', cursive;
   
}
#start:hover
{
  text-decoration: underline;
  transform: scale(1.1);
}